<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
 	
    <title>IIITM Alumini </title>
     <link rel="icon" href="\images\iiitm-logo.png" type="image/gif" sizes="16x16"> 
    <style type="text/css">
    	
    
    .top2{
    	    
    	    font-size:25px;
    	    margin-right:260px;
    	    font-size:1.8em;
    	    
    	
    	}
    	
    .white{
           color:#1c868b;
     
     }
     .allitems{
           padding:5em;
           margin-top:100px;
           margin-bottom:70px;
     
     }
      .pank{
           color:white;
     
     }
     .pank2{
     
     text-shadow: 1px 1px 1px black,
             2px 2px 1px black;
     }
      .top2{
    	    
    	    font-size:15px;
    	  
    	   
    	    
    	
    	}
    	.top3{
    	    
    	    font-size:25px;
    	  
    	   
    	    
    	
    	}
      * {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 10px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

    </style>
     
     <body style="background-color:#d1e5e7 ">
     
  <!-- Just an image -->

 <nav class="navbar navbar-expand-lg navbar-light" >
	<a class="navbar-brand" href="/user/home"  style="padding-left:100px;">
      <img style="border-radius:50% ;" src="\images\iiitm-logo.png" width="100" height="100" class="d-inline-block align-center  alt="" loading="lazy">
         
    </a>
  <a class="navbar-brand top3 " href="#"><span >Indian Institute of Information Technology Senapati, Manipur <br><span class="top2">(An Institute of National Importance by Act of Parliament) </span><br>Welcome To The Dashboard <br><span class="top2"></span></a>
   
 
  

</nav>
   <!-- Navbar content -->
  <nav class="navbar navbar-expand-lg    " style="background-color: #dab5cc;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span style="background-color:#1ac5d6;" class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/home" style="padding-left:130px;color:black;">Home</a>
        </li>
        
       
       
        
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:black;"> 
            People
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#9c788e;">
            <li><a class="dropdown-item" href="/list/alumini">Alumini</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:black;">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#9c788e;">
            <li><a class="dropdown-item" href="/user/postme" >Update Profile Pic</a></li>
            <li><a class="dropdown-item" href="/user/alumini" >My Profile</a></li>
            <li><a class="dropdown-item" href="/update" >update Profile</a></li>
            
          </ul>
        </li>
       
        
        <li class="nav-item">
          <a class="nav-link" href="/user/chat" style="color:black;">Chat</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/events/create-event" style="color:black;">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notice/create-notice" style="color:black;">Notice</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://www.gmail.com" style="color:black;">Webmail</a>
        </li>
      </li>
     
      <li class="nav-item" >
        <a class="nav-link" href="/job/create-job" style="color:black;">Post Job Opening</a>
      </li>
       
    <li class="nav-item" >
      <a class="nav-link" href="/search" style="color:black;">Find Alumini</a>
    </li>
     
    <li class="nav-item">
     
      <form class="d-flex" style="margin-left: 20px;" action="/search/test" method="post">
        <input class="form-control mr-2" type="text" placeholder="Search Alumini" name="fullname" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/logout" style="color:black;margin-left: 250px;">Logout</a>
    </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
     
      
    </div>
  </div>
</nav>