<!DOCTYPE html>
<html>
<head>
    <meta name="viewpoint" content="width-device-width, initial-scale-1.0">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="/css/forget.css">   
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    

</head>
<body style="background-color: #a7f5f5;">
    <div class="form_bg">
    <div class="container">
        <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form class="form_horizontal" action="/user/forget-password" method="POST">
                <div><img src="/images/logo.png"  class="logo" alt="logo" /></div>

                   <h4>We will send you a verification email</h4><br>
                    <h4>Please enter your email</h4>
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
                        <input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    
                         <button class="btn signin"><i class="fa fa-sign-in" aria-hidden="true"></i>Send Code</button>
                    
                   
                </form>
            </div>
        </div>
        
        </div>
        
            
        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</body>
</html>

