
<%- include('./partials/header.ejs')%>
   <!-- Navbar content -->
     <div class="container-fluid" style="padding: 15em;border-top-left-radius: 10px; background-image:url(/images/mak.png);background-position:center;background-size:cover;background-repeat:no-repeat">
   
  
   </div>
   <div class="container container-slide my-4" style="margin-top:100px;">

    
    <hr class="my-4">
  

   <!--Carousel Wrapper-->
   <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

     <!--Controls-->
     <div class="controls-top">
       <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
       <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
     </div>
     <!--/.Controls-->

     <!--Indicators-->
     <ol class="carousel-indicators">
       <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
       <li data-target="#multi-item-example" data-slide-to="1"></li>
      
     </ol>
     <!--/.Indicators-->

     <!--Slides-->
     <div class="carousel-inner" role="listbox">

       <!--First slide-->
       <div class="carousel-item active">

         <div class="row">
           <div class="col-md-4">
             <div class="card mb-2">
               <img class="card-img-top" src="/images/08.jpg"
                 alt="Card image cap">
               
             </div>
           </div>

           <div class="col-md-4 clearfix d-none d-md-block">
             <div class="card mb-2">
               <img class="card-img-top" src="/images/07.jpg"
                 alt="Card image cap">
               
             </div>
           </div>

           <div class="col-md-4 clearfix d-none d-md-block">
             <div class="card mb-2">
               <img class="card-img-top" src="/images/04.jpg"
                 alt="Card image cap">
               
             </div>
           </div>
         </div>

       </div>
       <!--/.First slide-->

       <!--Second slide-->
       <div class="carousel-item">

         <div class="row">
           <div class="col-md-4">
             <div class="card mb-2">
               <img class="card-img-top" src="/images/01.JPG"
                 alt="Card image cap">
               
             </div>
           </div>

           <div class="col-md-4 clearfix d-none d-md-block">
             <div class="card mb-2">
               <img class="card-img-top" src="/images/02.jpg"
                 alt="Card image cap">
               
             </div>
           </div>

           <div class="col-md-4 clearfix d-none d-md-block">
             <div class="card mb-2">
               <img class="card-img-top" src="/images/06.jpg"
                 alt="Card image cap">
               
             </div>
           </div>
         </div>

       </div>
       <!--/.Second slide-->
 
     <!--/.Slides-->

   </div>
   <!--/.Carousel Wrapper-->


 </div>
  
<hr>
	<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 style="color: #9c788e;font-size:1.5em;">About</h6>
            <p class="text-justify pank" style="color: black;">Alumini Tracking System.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 style="color: #9c788e;font-size:1.5em;">Notish Board</h6>
            <ul class="footer-links">
              <li><a href="/notice" class="pank" style="color: black;">Notice</a></li>
              
              
            </ul>
            
            

            
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 style="color: #9c788e;font-size:1.5em;">Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/events" class="pank" style="color: black;">Events</a></li>
              
            </ul>
          </div>
        </div>
        <hr>
      </div>
      
<%- include('./partials/footer.ejs')%>