<%- include('./partials/create_event.ejs')%>
   <!-- Navbar content -->
     <div class="container-fluid" style="padding: 10em; background-image:url(/images/mak.png);background-position:center;background-size:cover;background-repeat:no-repeat">
   
  
   </div>
   <section>
    <div class="gap redish high-opacity">
      <div class="content-bg-wrap" style="background: url(/images/resources/animate-bg.png)"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-meta">
              <h5>search</h5>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <form method="post" action="/search/search1" >
      
      <div class="row">
        <div class="col-25">
          <label for="fullname">fullname</label>
        </div>
        <div class="col-75">
          <input type="text" placeholder="fullname" name="fullname">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="college">college</label>
        </div>
        <div class="col-75">
          <input type="text" placeholder="college" name="college">
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="branch">branch</label>
        </div>
        <div class="col-75">
          <input type="text" placeholder="branch" name="branch">
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="batch">batch</label>
        </div>
        <div class="col-75">
          <input  type="text" placeholder="batch" name="batch">
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="search"></label>
        </div>
        <div class="col-75">
          <input id="subject" type="submit" value="Search">
          
        </div>
      </div>
    </form>
  </div>
   
  
    <%- include('./partials/footer.ejs')%>

    