<%- include('./partials/header.ejs')%>
   <!-- Navbar content -->
     <div class="container-fluid" style="padding: 10em; background-image:url(/images/mak.png);background-position:center;background-size:cover;background-repeat:no-repeat">
   
  
   </div>
  <!-- crosel content -->
  
<!-- crosel content -->
  <!-- crosel content -->
  <div class="form_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form class="form_horizontal" action="/update/update"   method="POST">
                    <div >
	                <img >
	                <div >
		<i  ></i>
       
	</div>
                      
	
</div>
                     <h3 class="title">Update Data</h3>
                      
                     <%- include('./partials/message.ejs')%> 
                     <div class="form-group">
                         <span class="input-icon "><i class="fa fa-info" aria-hidden="true"></i></span>
                         <input class="form-control" type="text" name="fullname" placeholder="FullName" aria-hidden="false">
                     </div>
                    
                   
                     <div class="form-group">
                        <span class="input-icon "><i class="fa fa-info" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="city" placeholder="city" aria-hidden="false">
                    </div>
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-info" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="mobile" placeholder="mobile" aria-hidden="false">
                    </div>
                   
                   
                   
                    
                         <button class="btn signin"><i class="fa fa-sign-in" aria-hidden="true"></i>SignUp</button>
                    
                   
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- add content -->
   
  
  <%- include('./partials/footer.ejs')%>
  
  