<!DOCTYPE html>
<html>
<head>
    <meta name="viewpoint" content="width-device-width, initial-scale-1.0">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">   
    <link rel="stylesheet" type="text/css" href="/css/sigup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    

</head >
<body style="background-color: #a7f5f5;">
    <div class="form_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form class="form_horizontal" method="POST" action="/user/postme" enctype="multipart/form-data">
                    <div class="avatar-wrapper">
	                <img class="profile-pic" src=""/>
	                <div class="upload-button">
		<i class="fa fa-arrow-circle-up" aria-hidden="true" ></i>
       
	</div>
              <input class="file-upload" type="file" name="upload" accept="image/*" style="display: none" />         
	
</div>
                     <h3 class="title">Upload Image</h3>
                      
                     
                         <button class="btn signin"><i class="fa fa-sign-in" aria-hidden="true"></i>Upload Profile Pic</button>
                    
                   
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>