<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Verify</title>
	<link rel="stylesheet" type="text/css" href="/css/signin.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #a7f5f5;">
<div class="form_bg">
	
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4  col-sm-offset-3 col-sm-6">
				<form class="form_horizontal" action='/user/reset-password?token=${token}' method="POST">
					<div ><img src="/images/logo.png" class="logo" alt="logo-img"></div>
					<h3 class="title">Thank You <br><br>You Verified you email <br><br>wait for your collage to verify your identity<br><br>Again Click Your gmail link Once your collage verified you</h3>
				
				

				</form>
			</div>
		</div>
	</div>
	
</div>
</body>
</html>